version: '3'
services:
  {% for service in docker_services %}
  {{ service.name }}:
    image: {{ service.image }}:{{ service.tag }}
    ports:
      {% for port in service.ports %}
      - "{{ port }}"
      {% endfor %}
    volumes:
      {% for key, value in service.volumes.item() %}
      - "{{ key }}:{{ value }}"
      {% endfor %}
    environment:
      {% for key, value in service.env.items() %}
      - "{{ key }}:{{ value }}"
      {% endfor %}
  {% endfor %}
volumes:
  {% for key, value in service.volumes.item() %}
  {{ key }}:
    name: {{ key }}
    driver: local
    driver_opts:
      type: none
      o: bind
      device: "{{ docker_volumes_path }}/{{ compose_name }}/{{ key }}"
  {% endfor %}
